header {
    background-color: #FFF;
    padding: 0px 15px; /*top, right, bottom, left*/
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    height: 37.5%;
}

header.header h1 {
    font-size: 1.8rem;
}
